@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* margin: 0.5rem; */
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

main {
  background-color: aqua;
  width: 50%;
}

p {
  background-color: gray;
  text-align: center;
}

.opposite {
  display: inline-block;
  background-color: black;
  color: white;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  background-color: chartreuse;
}

li {
  display: inline-block;
  margin: 0.5rem;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: rgb(9, 119, 187);
}
