@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  /*  */
  list-style-type: upper-roman;
}

ul {
  /* list-style: square url(./checkmark.png); */
  text-align: center;
  color: rgb(4, 114, 117);
  line-height: 1.6;
  list-style-position: inside;
}

ul li:nth-child(2) {
  color: crimson;
}

article .ul2 ::marker {
  color: red;
  font-family: fantasy;
  font-size: 1em;
  content: "Only $5 >>  ";
}
